<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/Style.css">
      <title>Contato</title>
   </head>
   <body>
      <div class="box">
         <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
               <a class="navbar-brand" href="./principal.html">
               <img id="logo" src="../img/logo.jpg" alt="logo">
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav me-auto">
                     <li class="nav-item">
                        <a class="nav-link " href="./principal.html">Início
                        <span class="visually-hidden">(current)</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="./SobreMim.html">Sobre a artista</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="./Contato.html">Contato</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <div class="container">
            <div class="titulo">Contato </div>
            <div class="conteudo">
               <div class="redes-sociais">
                  <div class="insta">
                     <div><img src="../img/InstaLogo-removebg-preview.png" alt=""></div>
                     <a href="https://www.instagram.com/marikyojin/"><span>Instagram</span></a>
                  </div>
                  <div class="face">
                     <div><img src="../img/FaceLogo-removebg-preview.png" alt=""></div>
                     <a href="https://www.facebook.com/mariana.pacheco.7737/"><span>Facebook</span></a>
                  </div>
                  <div class="yt">
                     <div><img src="../img/YTLogo-removebg-preview.png" alt=""></div>
                     <a href="https://www.youtube.com/channel/UCiuPrikO0TQnt-36l92YBBg"> <span>Youtube</span></a>
                  </div>
                  <div class="tw">
                     <div><img src="../img/TwitterLogo-removebg-preview.png" alt=""></div>
                     <a href="https://twitter.com/Marikyojin"><span>Twitter</span></a>
                  </div>
               </div>
               <form class="mensagem" action="mailto:mariastrofisica@gmail.com" method="POST" enctype="text/plain" name="EmailForm">
                  <input type="text"  class="form-control" placeholder="nome" required name="name">
                  <br>
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="email" required name="mail">
                  <br>
                  <textarea class="form-control" id="msg" rows="3" placeholder="mensagem" required name="comment"></textarea>
                  <br>
                  <button type="submit" class="btn btn-outline-primary" value="Submit">Enviar</button>
               </form>
            </div>
            <div class="feras">Turma dos feras Serratec</div>
         </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>  
   </body>
</html>