<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Style.css">
    <title>Início</title>
</head>
<body>
    <div class="box">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="./principal.html">
                  <img id="logo" src="../img/logo.jpg" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="./principal.html">Início
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./SobreMim.html">Sobre a artista</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./Contato.html">Contato</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="titulo">Mari Sá </div>

            <div class="grupo1">
                <div class="texto">
                    <p> Este site foi criado com a intenção de juntar todas as informações, vídeos e projetos da
                        dançarina Mari Sá. Nele você encontrará vídeos de coreogra</p>
                </div>
            </div>  

            <div class="grupo2 cards">
                <div class="imagem">
                    <img src="../img/KPOP.jpg" alt="kpop">
                   <a href="https://www.instagram.com/p/CMXlAXppB9H/?utm_source=ig_web_button_share_sheet"><div class="titulo">K-pop </div></a>
                </div>
                <div class="imagem">
                    <img src="../img/DancaDoVentre.jpg" alt="dancaventre">
                    <a href="https://www.youtube.com/watch?v=jvCXLUU2p0k"><div class="titulo">Dança do ventre </div></a>
                </div>
                <div class="imagem">
                    <img src="../img/Outros.png" alt="outros">
                    <a href="https://www.instagram.com/tv/CM-ycT0JDKc/?utm_source=ig_web_copy_link"><div class="titulo">Outros </div></a>
                </div>
            </div>    
        
            <div class="feras">Turma dos feras Serratec</div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>  
</body>
</html>