<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Style.css">
    <title>Sobre o artista</title>
</head>
<body>
    <div class="box">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="./principal.html">
                  <img id="logo" src="../img/logo.jpg" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link " href="./principal.html">Início
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="./SobreMim.html">Sobre a artista</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="./Contato.html">Contato</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container">
            <div class="titulo">Sobre o artista </div>

            <div class="grupo1">
                <div class="texto">
                    <p> Mariana Gomes Pacheco de Sá conhecida como Mari Sá, mora em Teresópolis no estado do
                        Rio de Janeiro, é formada em Física pela Universidade Federal Fluminense onde se encontra
                        atualmente terminando seu mestrado. Ela se comunica também em Inglês além de
                        conhecimentos básicos em Alemão e Japonês. Mãe de um gato preto - YUKI. Seu anime
                        favorito é Attack on Titan e sua banda favorita Nightwish.</p>
                </div>
            </div>    
            
            <div class="grupo2">
                <div class="texto">
                    <p> Mariana começou sua carreira na dança em
                        2008 quando entrou para a CIA. Aryana Rebello
                        de Dança do Ventre.</p>
                </div>
                <div class="imagem">
                    <img src="../img/Danca2008.png" alt="danca2008">
                </div>
            </div>  

                <div class="grupo3">
                    <div class="texto">
                        <p>  Sua carreira mudou quando em 26 de 2018 ela começou a participar de concursos de dança cover de K-pop, estreando oficialmente no concurso do Anime Nikity em Niterói ficando em 3° lugar na competição. </p>
                    </div>
                    <div class="imagem">
                        <img src="../img/Danca2018.png" alt="danca2018">
                    </div>
                </div>  
           
            <div class="feras">Turma dos feras Serratec</div>
        </div>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>  
</body>
</html>